body {
  background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,rgba(140,140,140,0),rgba(140,140,140,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(140,140,140,0),rgba(140,140,140,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(140,140,140,0),rgba(140,140,140,1)); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(140,140,140,0), rgba(140,140,140,1)); /*Standard*/

  }
